*{
    margin: 0px;
    padding: 0px;
}

@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(160px);
    }
  }
  
  

    .video-container {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1; /* Place the video behind other content */
    }
    
    /* Style the video to cover the entire container and scale proportionally */
    #video-background {
        position: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit:cover; /* Ensures the video covers the entire container */
    }
    
    .logotxt{
/* font-family: 'Oswald', sans-serif;
font-family: 'Young Serif', serif; */

        color:rgb(161, 161, 161);
        font-family: 'Kanit', sans-serif;
        font-size: 70px;
        margin-left: 15px;
        font-weight: 450;
    }
 
    .q{
        color: white;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 40px;
        margin-left: 15px;
        font-weight: 600;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .q1{
        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .q2{
       animation: text-focus-in 4.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .q3{
      animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .entry{
      color:rgb(161, 161, 161);
        font-family: 'Kanit', sans-serif;
        font-size: 50px;
        text-align: center;
    }

    .entry:hover{
      /* animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
        transition-duration: 2s;
          color:white;
    }